.place {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-bottom: 80px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
@media screen and (min-width: 1280px) {
    .place {
        max-width: calc(100% - 296px);
        gap: 48px 40px; 
    }
}
@media screen and (max-width: 1279px){
    .place {
        max-width: calc(100% - 96px);
        gap: 48px 32px; 
    }
}
@media screen and (max-width: 1023px){
    .place {
        margin-bottom: 73px;
        max-width: calc(100% - 48px);
        gap: 48px 28px;    
    }
}
@media screen and (max-width: 767px){
    .place {
        max-width: 100%;
        margin: 0;
        flex-direction: column;
        flex-wrap: nowrap;
        margin-bottom: 50px;
        row-gap: 32px;
    } 
}
