.lead {
    width: 984px;
    padding: 52px 0 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-content: center;
}
@media screen and (max-width: 1279px){
    .lead{
      padding: 48px 0 0;
      max-width: calc(100% - 96px);
    }
   }
   @media screen and (max-width: 1023px){
    .lead{
      max-width: 100%;
    }
   }