.lead__title {
    width: 100%;
    max-width: 720px;
    font-weight: 900;
    font-style: normal;
    margin: auto;
    font-size: 96px;
    line-height: 104%;
    text-align: center;
}
@media screen and (max-width: 767px){
    .lead__title { 
        max-width: 288px;
        font-size: 40px;
        line-height: 110%;
    }    
}