/* Обычный */
/*@font-face {
	font-family: 'Crimson Text';
	font-style: normal;
	font-weight: normal;
	src: local('Crimson Text'),
		url('/fonts/CrimsonText-Regular.woff2') format('woff2'), 
		url('/fonts/CrimsonText-Regular.woff') format('woff'),
		url('/fonts/CrimsonText-Regular.ttf') format('ttf'),
		url('/fonts/CrimsonText-Regular.eot') format('eot');
}*/
 
/*.text-1 {
	font-family: 'Crimson Text';
}*/
/* Жирный */
/*@font-face {
	font-family: 'Crimson Text';
	font-style: normal;
	font-weight: bold;
	src: local('Crimson Text'),
		url('/fonts/CrimsonText-Bold.woff2') format('woff2'), 
		url('/fonts/CrimsonText-Bold.woff') format('woff'),
		url('/fonts/CrimsonText-Bold.ttf') format('ttf'),
		url('/fonts/CrimsonText-Bold.eot') format('eot');
}
 
.text-2 {
	font-family: 'Crimson Text';
	font-weight: bold;
}*/