.intro__title {
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
}
@media screen and (max-width: 767px) {
    .intro__title {
        font-size: 32px;
        line-height: 109%;
    }
    
}